<%- include("../admin/layouts/admin_header.ejs") %>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Add Products</h4>
                            <!-- <p class="card-description"> Basic form elements </p> -->
                            <form class="forms-sample" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="exampleInputName1">Update Name</label>
                                    <input type="text" name="name" class="form-control" id="exampleInputName1"
                                       value="<%= product.name %>" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputName1">Update Brand</label>
                                    <input type="text" name="brand" class="form-control" id="exampleInputBrand1"
                                    value="<%= product.brand %>" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputprice3">Update Price</label>
                                    <input type="number" name="price" min="0" class="form-control" id="exampleInputprice3"
                                    value="<%= product.price %>" required >
                                </div>
                           

                                 <div class="form-group">
            <label for="exampleInputUsername1">category</label>
          

            <select name="category" class="form-control" id="exampleInputUsername1">
                <% for(let i=0;i< cartData.length;i++){ %>
                    <option>
                        <%= cartData[i].name %>
                    </option>
                    <% } %>
            </select>
          </div>
                                <div class="form-group">
                                    <label>Update File</label>
                                    <input type="file" name="image" class="file-upload-default" id="image">
                                    <div class="input-group col-xs-12">


                                        <input type="file" placeholder="Upload Image" name="image" multiple>
                                        <a type="button" href="./imageCropper"><samp style="font-size: larger; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(46, 202, 88);">Crop and upload</samp> <span style="color: aliceblue;">(Size 3400*2400)</span></a>
                                    </div>
                                    
                                </div>
                                <div class="col-4 col-sm-3 col-xl-2 image-container">
                                    <p>Product Image</p>
                                    <div class="image-list">
                                        <% productImages.forEach((data, i) => { %>
                                            <button type="button" class="btn btn-primary image-button" data-toggle="modal" data-target=".bd-example-modal-sm">
                                                <img src="/adminassets/productImages/<%= product.productImages[i] %>" class="gradient-corona-img img-fluid" alt="">
                                             </button>

                                            <div class="modal fade bd-example-modal-sm " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" >
                                                <div class="modal-dialog modal-sm">
                                                  <div class="modal-content">
                                                  <p>Do you want to delete this image?</p>
                                                  <button onclick="deletephoto('<%=i %>','<%= product._id %>')">Yes</button>
                                                  </div>
                                                </div>
                                              </div>
                                        <% }) %>
                                    </div>
                                </div>
                                
                                
                                 <br>
                                <div class="form-group">
                                    <label for="exampleInputPassword4">Update Stock</label>
                                    <input type="text" name="stock" class="form-control" id="exampleInputstock4"
                                    value="<%= product.stock %>">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputquantity4">Update Quantity</label>
                                    <input type="number" name="quantity" min="0" class="form-control" id="exampleInputquantity4"
                                    value="<%= product.quantity %>">
                                </div>
                                <div class="form-group">
                                    <label for="exampleTextarea1">Update Description</label>
                                    <input type="text" name="description" class="form-control" id="exampleTextarea1"
                                        rows="4" value="<%= product.description %>" required></input>
                                </div>
                                <a href=""><button type="submit" class="btn btn-primary mr-2">Submit</button></a>
                                <button class="btn btn-dark">Cancel</button>
                                <% if(typeof message !=='undefined' ){ %>
                                    <span id="er2" style="color: rgb(0, 246, 12); text-align: center ">
                                        <%= message%>
                                    </span>
                                    <% } %>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<style>
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; /* Center images horizontally */
}

.image-button {
    padding: 0;
    display: flex;
}

.image-button img {
    width: 100%;
    height: auto;
}

</style>

<script>
 function deletephoto(position,id){
    $.ajax({
        url:"/admin/delete_image",
        method:"post",
        encoded:true,
        data:{

          position:position,
          id:id,
        },
    })
    .done((data)=>{
      if(data.success){
        location.reload()
      }
    })
  }



</script>


<%- include("../admin/layouts/admin_footer.ejs") %>
