<%- include("../user/layouts/user_header.ejs") %>
<div id="reloadDiv">
<main class="main">
    <div class="page-header text-center" style="background-image: url('/adminassets/imgs/1687180326718-desert-eagle.jpg')">
        <div class="container">
            <h2 style="font-weight: 1000 "><Span style="color: rgb(46, 202, 88);">Green</Span> energy <<< </h2>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <div class="checkout-discount">
                  <form id="checkout-form">
                    
                        <!-- <input type="text" class="form-control" required id="checkout-discount-input">
                        <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label> -->
                    
                       </div><!-- End .checkout-discount -->
                        <div class="row">
                        <div class="col-lg-9">
                            <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                            <div class="row">
                                <div class="col-lg-12">
                                  <div class="d-flex justify-content-end pb-2">
                                    <a href="/addAddress" type="button" class="btn btn-outline-primary-2"> Add
                                        Address</a>
                                </div>
                                    <% if(address.length> 0){
                                        address.forEach((address)=>{
                                        %>
                                        <div class="card card-dashboard">
                                            <div class="card-body">
                                              <input class="form-check-input pt-5" required type="radio" name="address" id="flexRadioDefault1"
                                              value="<%=address.userName %>,<%=address.mobile %>,<%=address.alternativenumber %>,<%=address.hoseName %>,<%=address.city %>,<%=address.state %>,<%=address.pincode %>">
                                               
                                                <ul>
                                                  <h3 class="card-title"> Address</h3><!-- End .card-title -->
                                                    <li>Name : <%=address.userName %>
                                                    </li>
                                                    <li>mobile : <%=address.mobile %>
                                                    </li>
                                                    <li>altrenativeMob : <%=address.altrenativeMob %>
                                                    </li>
                                                    <li>houseName : <%=address.houseName %>
                                                    </li>
                                                    <li>city : <%=address.city %>
                                                    </li>
                                                    <li>state : <%=address.state %>
                                                    </li>
                                                    <li>pincode : <%=address.pincode %>
                                                    </li>
                                                   
                                                    <a href="/editAddress?id=<%=  address._id %>">
                                                        <button type="button" class="btn btn-outline-primary btn-rounded"  style="color: black; border-color: rgb(46, 202, 88);">
                                                            Edit
                                                        </button>
                                                    </a>
                                                    <a href="">
                                                        
                                                            <a class="btn btn-outline-primary btn-rounded" type="button" style="color: black; border-color:rgb(46, 202, 88) ;"
                                                                    onclick="deleteAddress('<%= address._id%>')">Delete</a>
                                                        </button>
                                                    </a>

                                                </ul>
                                        </div><!-- End .card-dashboard -->
                                     </div>
                                <% }) } %>   
                            </div><!-- End .col-lg-12 -->
                        </div><!-- End .row -->
                            
                      
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary" style="background-color: rgb(34, 209, 86);">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Count</th>
                                            <th>Product price</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <% products.forEach((value,index)=> { %>
                                         
                                        <tr>
                                            <td><a href="#">  <%= value.productId.name %></a></td>
                                            
                                            <td style="color: rgb(23, 19, 19); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >&nbsp;&nbsp;&nbsp;&nbsp;<span id="Count"><%= value.count %></span></td>
                                            
                                            <td>₹Rs.<%= value.productId.price %></td>
                                        </tr>
                                        <% }) %>
                                        <tr class="summary-total" >
                                            <td style="color: aliceblue;">Subtotal:</td>
                                            <td style="color: aliceblue;">Rs.<span id="total1"><%=totalamout %>/-</span>  </td>
                                        </tr><!-- End .summary-subtotal -->
                                       
                                        <tr>
                                            <td>Shipping:</td>
                                            <td>Free shipping</td>
                                        </tr>
                                        <tr class="summary-total">
                                            <td style="color: aliceblue;">Total:</td>
                                            <td id="total" style="color: aliceblue;"><%= totalamout %>/-</td>
                                            
                                        </tr><!-- End .summary-total -->
                                       <input type="hidden" value="<%= totalamout %>" name="Total">
                                    </tbody>
                                </table><!-- End .table table-summary -->

                                <div class="accordion-summary">
                                    
                                    <div class="d-flex align-items-center">
                                        <div class="mr-2">
                                            <input required type="radio" id="wallet" name="payment" value="wallet">
                                        </div>
                                        <a href="hidden" class="d-block text-dark" for="pay1">Wallet payment</a>
                                    </div>
                                 
                                     <div class="d-flex align-items-center">
                                         <div class="mr-2">
                                             <input required type="radio" id="COD" name="payment" value="COD">
                                         </div>
                                         <a href="hidden" class="d-block text-dark" for="pay1">Cash On Delivery</a>
                                     </div>
                                     <div class="d-flex align-items-center">
                                         <div class="mr-2">
                                           <input required type="radio" id="payment" name="payment" value="onlinePayment" checked>
                                         </div>
                                         <a href="" class="d-block text-dark">Razer Pay</a>
                                     </div>
                                    
                                   </div><!-- End .accordion -->
                                <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                    <span class="btn-text">Place Order</span>
                                    <span class="btn-hover-text" >Proceed to Checkout</span>
                                </button>
                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
//  $("#checkout").submit((e)=>{
//          let address = $("input[name=address]:checked").val();    
//         let total = document.getElementById("total").innerHTML;
//         let payment =  $("input[name=payment]:checked").val();
//         let Count= document.getElementById("Count").innerHTML;
   
//   $.ajax({
//      url: "/checkOut",
//     method:"post",
//     data:{
//       Total: total,
//       address: address,
//       payment : payment, 
//       count:Count

//     },

//     success:(response) => {
//       if( response.codsuccess){
    
//         location.href = "/orderSuccess";
                
//       } else{
//         razorpayPayment(response.order);
//       }
//     }
//   })
// })


// function razorpayPayment(order) {
  
// var options = {
//   "key":"rzp_test_h9X7hpWjwefyd2", // Enter the Key ID generated from the Dashboard
//   "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
//   "currency": "INR",
//   "name": "PEP energy", //your business name
//   "description": "Test Transaction",
//   "image":"https://example.com/your_logo",
//   "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
//   "handler": function (response) {

//     verifyPayment(response, order);
//   },
//   "prefill": {
//     "name": "Gaurav Kumar", //your customer's name
//     "email": "gaurav.kumar@example.com",
//     "contact": "9000090000"
//   },
//   "notes": {
//     "address": "Razorpay Corporate Office"
//   },
//   "theme": {
//     "color": "#3399cc"
//   }
// };
  
// var rzp1 = new Razorpay(options);
// rzp1.open();

// }


// function verifyPayment(payment, order) {
// const amount2 = document.getElementById("total").innerHTML;

// $.ajax({
//   url: "/verifyPayment-online",
//   method: "post",
//   data: {
//     payment:payment,
//     amount:amount2,
//     order:order,
//   },
//   success: (response) => {
//     if (response.success) {
//       location.href ="/orderSuccess";
//     } else {
      
//       location.href ='/';

//     }
//   }
// })
// }


    

$("#checkout-form").submit((e) => {

    let address = $("input[name=address]:checked").val();
    let total = document.getElementById("total").innerHTML;// Modified to use jQuery instead of plain JavaScript
    let payment = $("input[name=payment]:checked").val();
     alert(payment)
    e.preventDefault();
    $.ajax({
        url: "/checkoutPage",
        method: "post",
        data: {
            Total: total,
            address,
            payment: payment
        },

        success: (response) => {
            if (response.codsuccess == true) {
                location.href = `/orderSuccess/${response.orderid}`;
            } else if (response.walletFailed == true) {
                swal.fire({
                    position: 'center',
                    icon: "error",
                    title: 'Insufficient Balance In Your Wallet',
                    showConfirmButton: false,
                    showCancelButton: false,
                    timer: 1500
                });
            } else {
                razorPayment(response.order);
            }
        }
    });
});

function razorPayment(order){
var options = {
    "key": "rzp_test_h9X7hpWjwefyd2", // Enter the Key ID generated from the Dashboard
    "amount":order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Green erergy", //your business name
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id":order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response) {
            verifyPayment(response, order)
          },
    "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
        "name": "Gaurav Kumar", //your customer's name
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000" //Provide the customer's phone number for better conversion rates 
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
    rzp1.open();
}



function verifyPayment(payment, order) {
        const amount2 = document.getElementById("total").innerHTML;
        $.ajax({
          url: "/verify-payment",
          method: "post",
          data: {
            payment: payment,
            amount2: amount2,
            order: order
          },
          success: (response) => {
            if (response.codsuccess == true) {
              location.href = `/orderSuccess/${response.orderid}`;
            } else {
              swal.fire({
                positon: 'center',
                icon: "error",
                title: 'payment failed',
                showConfirmButton: false,
                timer: 1500,
              })
            }
          }
        })
      }


  


    function deleteAddress(id) {
              Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "Cancel",
              }).then((result) => {
                if (result.isConfirmed) {
                  $.ajax({
                    url: "/deleteAddress",
                    data: {
        
                      id: id,
                    },
                    method: "post",
                    success: (response) => {
                      if ((response.remove = true)) {
                        location.reload();
                      }
                    },
                  });
                }
              });
            }


    
         
</script>
<%- include("../user/layouts/user_footer.ejs") %>
