<%- include("../user/layouts/user_header.ejs") %>
<main class="main">
    <div class="intro-slider-container">
        <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light mb-0" data-toggle="owl" data-owl-options='{
                "dots": true,
                "nav": false, 
                "responsive": {
                    "1200": {
                        "nav": true,
                        "dots": false
                    }
                }
            }'>
            <div class="intro-slide" style="background-image: url(/userassets/images/bannerimg1.jpg);">
                <div class="container intro-content text-left">
                    <h1 class="intro-title"><br><strong></strong></h1><!-- End .intro-title -->
                    <!-- <h3 class="intro-subtitle">Up to 50% off</h3>End .h3 intro-subtitle -->

                    <a href="category.html" class="btn">
                        <span>Products</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div><!-- End .intro-content -->
                <!-- <img class="position-right" src="/userassets/images/demos/demo-8/slider/img-1.png"> -->
            </div><!-- End .intro-slide -->
            <div class="intro-slide" style="background-image: url(/userassets/banner2/Doodle-2500x1080.jpg);">
                <div class="container intro-content text-left">
                    <h1 class="intro-title"><br><strong></strong></h1><!-- End .intro-title -->
                    <!-- <h3 class="intro-subtitle">Up to 50% off</h3>End .h3 intro-subtitle -->

                    <a href="category.html" class="btn">
                        <span>Products</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div><!-- End .intro-content -->
                <!-- <img class="position-right" src="/userassets/images/demos/demo-8/slider/img-1.png"> -->
            </div><!-- End .intro-slide -->

          
        </div><!-- End .intro-slider owl-carousel owl-simple -->

        <span class="slider-loader"></span><!-- End .slider-loader -->
    </div><!-- End .intro-slider-container -->
    
    <div class="mb-6"></div><!-- End .mb-6 -->

            <div class="container">
                <div class="heading heading-center mb-3">
                    <h2 class="title-lg">New Arrivals</h2>
                </div>
                <!-- End .heading -->

                <div class="tab-content tab-content-carousel">
                    <div class="tab-pane p-0 fade show active" id="trendy-all-tab" role="tabpanel" aria-labelledby="trendy-all-link">
                        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                            data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true,
                                        "dots": false
                                    }
                                }
                            }'>
                            <% if(  products.length > 0 ){
                                products.forEach((data)=>{ %>
                           
                                    
                            <div class="product product-11 text-center" >
                        
                                <figure class="product-media">
                                    <a href="/product_details?id=<%= data._id%>">
                                        <img src="/adminassets/imgs/<%=data.image[1] %>" alt="Product image" class="product-image-hover">
                                        <img src="/adminassets/imgs/<%=data.image[0]%>" alt="Product image" class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <% if(session != null ){
                                            %>
                                        <a onclick="show('<%= data._id %>')" class="btn-product-icon btn-wishlist"><span>add to wishlist</span></a>
                                        <% }else {
                                            %>
                                            <a onclick="show('<%= data._id %>')" class="btn-product-icon btn-wishlist"><span>add to wishlist</span></a>
                                        <% } %>
                                    </div><!-- End .product-action-vertical -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <h3 class="product-title"><a href="product.html" style="font-weight: 600; font-size: 20px; color: #515151;"><%= data.name %></a></h3><!-- End .product-title -->
                                    <div class="fa fa-rupee" style="font-size:18px ; color: #000;  ">
                                        <span style="color: rgb(0, 0, 0); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><span style="font-size: larger;"><%= data.price %>/-</span></span> 
                                    </div><!-- End .product-price -->
                                    <% if(data.quantity <=0 ){ %>
                                        <p style="font-size: medium; color: rgb(246, 79, 19);font-weight: 300;">Out of stock</p>
                                        <%}%>
                                </div><!-- End .product-body -->
                                <div class="product-action">                     
                                    <% if(data.quantity <=0 ){ %>        
                                      <button  class="btn-product " style="background-color: rgb(229, 80, 80);"  ><span>Out of stock</span></button>
                                      <% }else{%>
                                      <button onclick="addToCart('<%= data._id %>')" class="btn-product " style="background-color: rgb(46, 202, 88);"  ><span>add to cart >></span></button>
                                        <%}%>
                                  </div><!-- End .product-action -->
                            </div><!-- End .product -->
                    
                            <% }) %>
                            <% } else {%>

                                <% } %>
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .container -->
            <div class="mb-3 mb-xl-2"></div><!-- End .mb-3 -->
            <div class="trending">
                      <a href="#">
                          <img src="userassets/images/demos/demo-8/banners/banner-4.jpg" alt="Banner">
                      </a>
                      <div class="banner banner-big d-md-block">
                          <div class="banner-content text-center">
                              <h4 class="banner-subtitle text-white">Trending</h4><!-- End .banner-subtitle -->
                              <h3 class="banner-title text-white">New League</h3><!-- End .banner-title -->
                              <p class="d-none d-lg-block text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.<br>Donec odio. Quisque volutpat mattis eros. </p> 
      
                              <a href="category.html" class="btn btn-primary-white"><span>Shop Now</span><i class="icon-long-arrow-right"></i></a>
                          </div><!-- End .banner-content -->
                      </div><!-- End .banner -->
                  </div>
</div>
<script>

  function show(id){
     $.ajax({
       url:"/wishList",
       method:"post",
       data:{
        proId:id
       },
       success:(response)=>{
        if(response.success){
            swal.fire({
              position:'center',
              icon:'success',
              title:'Product added to wishList',
              showConfirmButton:true,
              timer:1500,
            })
        } else {
            swal.fire({
                position:'center',
                icon:"error",
                title:'Already added',
                timer:1500,
            })
          }
       }

     })

  }


</script>
<script>
    function addToCart(productId){
            $.ajax({
                url:'/addToCart',
                method:'post',
                data:{
                    id: productId
                },
                success:(response)=>{  
                    if(response.success){
                        swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Product added to cart',
                        showConfirmButton: false,
                        timer: 1500,        
                        });
                    }else{
                        swal.fire({ 
                        icon: 'error',
                        title: 'Already added',
                        text: response.message
                        });
                    }
                }
            })
        }
  


</script>

<%- include("../user/layouts/user_footer.ejs") %>
