
<%- include("../user/layouts/user_header.ejs") %>

<div class="page-content">
    <div class="container">
        <table class="table table-wishlist table-mobile">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th></th>
                    <th>Stock Status</th>
                    <th>Add to Cart </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <% if( wishlist.length > 0){
                    wishlist.forEach((wish)=>{   %>
              
                <tr>
             
                    
                    <td class="product-col">
                        <div class="product">
                            <figure class="product-media">
                                <a href="/product_details?id=<%= wish.productId._id %>">
                                    <img src="/adminassets/productImages/<%= wish.productId.productImages[1] %>" alt="Product image">
                                </a>
                            </figure>

                            <h3 class="product-title">
                                <a href="#"><%= wish.productId.name %></a>
                            </h3><!-- End .product-title -->
                        </div><!-- End .product -->
                    </td>
                    <td style=" font-size: large;" >Rs: <%=  wish.productId.price %>/-</td>
                    <td>                        <% if( wish.productId.quantity <=5 && wish.productId.quantity != 0 ){%>
                        <p style="font-size: medium; color: rgb(246, 79, 19);font-weight: 300;">Only <%= wish.productId.quantity %> left !</p>

                                <% } %></td>
                    <td class="stock-col"><span  class="in-stock"><%=  wish.productId.quantity %> </span>Products</td>
                    <!-- <td class="action-col">
                        <div class="dropdown">
                        <button class="btn btn-block btn-outline-primary-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-list-alt"></i>Select Options
                        </button>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">First option</a>
                            <a class="dropdown-item" href="#">Another option</a>
                            <a class="dropdown-item" href="#">The best option</a>
                         
                          </div>
                        </div>
                    </td> -->
                    <td style="width: 10vb;"><button onclick="addToCart('<%= wish.productId._id %>')" class="btn btn-block btn-outline-primary-2" style="background-color: rgb(46, 202, 88);">
                       Add to Cart
                    </button>
                    </td>
                    <td class="remove-col"><a href="/removeItem?id=<%= wish.productId._id%>"><button class="btn-remove"><i class="icon-close"></i></button></a></td>
                </tr>
              
            </tbody>
            <%   }) %>
            <%   } else { %>
            
            <div class="error-content text-center">
            <div class="container">
                <h1 class="error-title"> <span style="color: rgb(46, 202, 88);">Your</span> wishList is empty </h1><!-- End .error-title -->
                <p>Add Products in Wish List</p>
                <a href="/shop" class="btn btn-outline" style="color: rgb(46, 202, 88);;">
                    <span>Keep shopping</span>
                    <i class="">>>></i>
                </a>
            </div>
            </div>
            <% } %>
        </table><!-- End .table table-wishlist -->      
    </div><!-- End .container -->
</div><!-- End .page-content -->

<script>
    function addToCart(productId){
          $.ajax({
              url:'/addToCart',
              method:'post',
              data:{
                  id: productId
              },
              success:(response)=>{  
                  if(response.success){
                      swal.fire({
                      position: 'center',
                      icon: 'success',
                      title: 'Product added to cart',
                      showConfirmButton: false,
                      timer: 1500,     
                      });
                  }else{
                      swal.fire({ 
                      icon: 'error',
                      title: 'Oops',
                      text: response.message
                      });
                  }
              }
          })
      }
  </script>













